<div style="padding:0;margin:0;width:100%;overflow:hidden">
  <div class="iconos icono-whatsapp" style="position:absolute; z-index:99999 !important;padding: 10px;">
    <a href="https://wa.me/51984225336?text=Hola Ingenio Perú , estoy interesado en Soluciones Tecnológicas para mi empresa." target="_blank" title="Whatsapp"><i style="padding: 7px ; margin:5px"
        class="fa fa-whatsapp fa-2x"></i> </a><br>
    <a href="https://www.facebook.com/Ingenio-Per%C3%BA-105796234464156/" target="_blank" title="Facebook"><i
        style="padding: 7px ; margin:5px" class="fa fa-facebook-square fa-2x"></i> </a><br>
    <a href="https://www.instagram.com/ingenio1308/?hl=es-la" title="Instagram" target="_blank"><i
        style="padding: 7px ; margin:5px" class="fa fa-instagram fa-2x"></i>
    </a><br>
    <a href="https://twitter.com/Ingenio21875964" title="Twitter" target="_blank"><i style="padding: 7px ; margin:5px"
        class="fa fa-twitter fa-2x"></i>
    </a>
  </div>

  <div class="fondo">
    <div style="background-color: #314c9aab;height:110vh">
      <div class="container">
        <div class="row" style="padding:0">
          <div class="col-md-12">
            <div class="Logo">
              <img src="assets/imagenes/Logo_Texto.png" alt=""
                style="height: 180px;padding:60px 0px; position: relative;">
            </div>
          </div>
          <!-- <div class="col-md-2">
                        <div class="redes-sociales ocultar" >
                            <div class="iconos">
                                <a href=""><i class="fa fa-facebook-square fa-2x"></i> </a>
                            </div>
                            <div class="iconos">
                                <a href=""><i class="fa fa-linkedin fa-2x"></i> </a>
                            </div>
                            <div class="iconos">
                                <a href=""><i class="fa fa-twitter fa-2x"></i> </a>
                            </div>

                        </div>
                    </div> -->
          <div class="col-md-12" style="display:inline-block">
              <div id="fb-root"></div>
              <div  class="fb-like" data-href="https://www.facebook.com/Ingenio-Per%C3%BA-105796234464156/" data-width="" data-layout="box_count" data-action="like" data-size="small" data-share="true"></div>

            <div class="">
              <img src="assets/imagenes/Logo_centro.png" alt="" style="position: relative;left: 40%"
                class="logo-central">
            </div>
            <div class="slogan" style="text-align:center !important">
              <br>
              <br>
              <br>
              <span style="
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            text-align: center;
                            font-weight:bold;
                            padding-top:12px;
                            font-size: 5.5vh;
                            color: yellow;
                            line-height: 3px;
                            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" class="element"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Nosotros" [id]="secciones[0]">
    <div class="container-fluid fondo-nosotros" style="height:120vh; background-color: #040303d4;">
      <div class="container">
        <div class="row" style="padding:0">
          <div class="col-md-12">
            <h1 style="padding-top: 70px !important"><strong style="font-family: Georgia, 'Times New Roman', Times, serif Black;
                                font-weight:bold;
                                font-size: 40px;
                                color:#00CBFD;
                              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Nosotros</strong>
            </h1>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span style="color:#00CBFD; padding: 0;font-size: 2.5vh;">
              En Ingenio buscamos mejorar el rumbo de las organizaciones que eligen crear
              experiencias
              únicas y
              memorables digitalizando y transformando tu negocio. Para ello te ofrecemos:</span>
            <br><br>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <h3 class="my-sm-3 mt-3 mb-1"
              style="font-size:3.5vh ;text-align:center; color: yellow; font-weight: bolder;">
              <i class="fa fa-lightbulb-o fa-2x"></i><br> Creatividad</h3>
            <p class="mb-sm-4 mb-2" style="font-size:2.5vh;text-align:center; color: #00CBFD;">Siempre vamos
              tras nuevas
              ideas y nuevas formas de ver las cosas que aporten valor a tu negocio haciéndote más
              competitivo en tu mercado.</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <h3 class="my-sm-3 mt-3 mb-1"
              style="font-size:3.5vh ;text-align:center; color: yellow; font-weight: bolder;">
              <i class="fa fa-paint-brush fa-2x"></i><br>Innovación</h3>
            <p class="mb-sm-4 mb-2" style="font-size:2.5vh;text-align:center; color: #00CBFD;">Ponemos
              nuestras ideas en
              acción y siempre las plasmamos en todos nuestros desarrollos para brindarte la mejor
              experiencia de usuario.</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <h3 class="my-sm-3 mt-3 mb-1"
              style="font-size:3.5vh ;text-align:center; color: yellow; font-weight: bolder;">
              <i class="fa fa-cubes fa-2x"></i><br>Productividad</h3>
            <p class="mb-sm-4 mb-2" style="font-size:2.5vh;text-align:center; color: #00CBFD;">Te brindamos
              la
              oportunidad de que te dediques 100% al corazón de tu negocio y dejes la operatividad en
              manos de tu software.</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <h3 class="my-sm-3 mt-3 mb-1"
              style="font-size:3.5vh ;text-align:center; color: yellow; font-weight: bolder;">
              <i class="fa fa-flash fa-2x"></i><br>Rapidez</h3>
            <p class="mb-sm-4 mb-2" style="font-size:2.5vh;text-align:center; color: #00CBFD;">Entendemos
              que quieres la
              solución a tus problemas lo más rápido posible y en ese sentido trabajamos. Tus
              prioridades son las nuestras.</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <h3 class="my-sm-3 mt-3 mb-1"
              style="font-size:3.5vh ;text-align:center; color: yellow; font-weight: bolder;">
              <i class="fa fa-handshake-o fa-2x"></i><br>Competitividad Económica</h3>
            <p class="mb-sm-4 mb-2" style="font-size:2.5vh;text-align:center; color: #00CBFD;">Rompemos el
              mito de que
              "el software siempre es muy caro" ya que nosotros somos muy competitivos económicamente.
            </p>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <h3 class="my-sm-3 mt-3 mb-1"
              style="font-size:3.5vh ;text-align:center; color: yellow; font-weight: bolder;">
              <i class="fa fa-group fa-2x"></i><br>Soporte 24/7</h3>
            <p class="mb-sm-4 mb-2" style="font-size:2.5vh;text-align:center; color: #00CBFD;">Nunca te
              vamos a dejar
              solo, siempre estaremos al lado con tus procesos para guiarte y asesorarte en todo
              momento.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="other_services " [id]="secciones[1]" >
    <div class="container-fluid fondo-otro-servicio pt-5" >
    <div class="container" >
      <div class="row">
        <div class="col-md-12">
          <h3 class="heading "><strong style="font-family: Georgia, 'Times New Roman', Times, serif Black;
                font-weight:bold;
                font-size: 40px;
                color:#00CBFD;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Servicios</strong></h3>
          <hr>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mt-4">
          <div class="card ">
            <img class="card-img-top" style="height:173px;object-fit: cover" src="assets/imagenes/Fondos/modal1.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Desarrollo de Software</h5>
              <p class="card-text">Aplicaciones de escritorio, web y móviles acorde a las necesidades del
                mercado y tu empresa.</p>
              <a href="#Contáctanos" class="btn btn-primary">Contáctanos</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4">
          <div class="card ">
            <img class="card-img-top" style="height:173px;object-fit: cover" src="assets/imagenes/Fondos/modal3.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Análisis de Datos</h5>
              <p class="card-text">
                Sistemas de Información Gerencial que apoyan de gran manera en la toma de
                decisiones de tu negocio.</p>
              <a href="#Contáctanos" class="btn btn-primary">Contáctanos</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4">
          <div class="card ">
            <img class="card-img-top" style="height:173px;object-fit: cover" src="assets/imagenes/Fondos/ajedrez.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Inteligencia de Negocios</h5>
              <p class="card-text">Soluciones de Inteligencia de Negocios y Minería de Datos desde cualquier
                repositorio de datos.</p>
              <a href="#Contáctanos" class="btn btn-primary">Contáctanos</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4">
          <div class="card ">
            <img class="card-img-top" style="height:173px;object-fit: cover" src="assets/imagenes/Fondos/modal.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Consultoría y Asesoría TI</h5>
              <p class="card-text">Aconsejamos en cómo usar las TI para conseguir sus objetivos empresariales y
                profesionales.</p>
              <a href="#Contáctanos" class="btn btn-primary">Contáctanos</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </section>
  <section class="other_services2">
    <div class="container-fluid fondo-otro-servicio2" >
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mt-4">
          <div class="card ">
            <img class="card-img-top" style="height:173px;object-fit: cover" src="assets/imagenes/Fondos/Nube.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Migrar a la Nube</h5>
              <p class="card-text">Te asesoramos sobre el plan a seguir para llevar tu información a la nube,
                evitando gastos en servidores físicos.</p>
              <a href="#Contáctanos" class="btn btn-primary">Contáctanos</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4">
          <div class="card ">
            <img class="card-img-top" style="height:173px;object-fit: cover" src="assets/imagenes/Fondos/marketing.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Marketing Digital</h5>
              <p class="card-text">Generarás publicidad en todas las redes sociales además de posicionarte como
                una de las primeras empresas en tu rubro.</p>
              <a href="#Contáctanos" class="btn btn-primary">Contáctanos</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4">
          <div class="card ">
            <img class="card-img-top" style="height:173px;object-fit: cover" src="assets/imagenes/Fondos/seguridad.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Seguridad de Información</h5>
              <p class="card-text">Brindamos soluciones para salvaguardar tu información de daños irreparables
                como pérdidas de información o manipulación de datos.</p>
              <a href="#Contáctanos" class="btn btn-primary">Contáctanos</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4">
          <div class="card ">
            <img class="card-img-top" style="height:173px;object-fit: cover" src="assets/imagenes/Fondos/analisis.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Análisis Preventivo</h5>
              <p class="card-text">Realizamos una evaluación periódica sobre tus equipos, evitando fallas o
                costos no planificados que generen pérdidas.</p>
              <a href="#Contáctanos" class="btn btn-primary">Contáctanos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="footer" [id]="secciones[2]">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form id="form1" ngsubmit>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" name="tel" [(ngModel)]="item.nombres">
            </div>
            <div class="form-group">
              <label for="corre">Correo</label>
              <input type="email" class="form-control" name="tele" [(ngModel)]="item.correo">
            </div>
            <div class="form-group">
              <label for="correo">Asunto</label>
              <input type="text" class="form-control" name="corre" [(ngModel)]="item.asunto">
            </div>
            <div class="form-group">
              <label for="nombre">Descripción</label>
              <textarea rows="6" name="comenta" class="form-control" [(ngModel)]="item.descripcion"></textarea>
            </div>
          </form>
          <button type="submit" class="btn pull-right" style="background:yellow; color:blue;font-weight:bold"
            (click)="enviar_mensaje()">
            <i class="fa fa-spinner fa-spin" *ngIf="login_loading"></i> Enviar</button>

        </div>
        <!--     <div class="col-md-3">
                    <img src="assets/imagenes/Logo.png" alt="" style="height: 180px ">
                </div> -->
        <div class="col-md-6 text-right ocultar-responsive">
          <div style="position:absolute; bottom: 10px;right: 0">
            <img src="assets/imagenes/Logo.png" alt="" style="height: 180px ">
            <!-- <h1>INGENIO</h1> -->
            <div class="display:inline-block redes-footer">
              <a href="https://wa.me/51984225336?text=Hola Ingenio Perú , estoy interesado en Soluciones Tecnológicas para mi empresa." target="_blank" title="Whatsapp"><i style="padding: 7px ; margin:5px"
                  class="fa fa-whatsapp fa-2x"></i> </a>
              <a href="https://www.facebook.com/Ingenio-Per%C3%BA-105796234464156/" target="_blank" title="Facebook"><i
                  style="padding: 7px ; margin:5px" class="fa fa-facebook-square fa-2x"></i> </a>
              <a href="https://www.instagram.com/ingenio1308/?hl=es-la" title="Instagram" target="_blank"><i
                  style="padding: 7px ; margin:5px" class="fa fa-instagram fa-2x"></i>
              </a>
              <a href="https://twitter.com/Ingenio21875964" title="Twitter" target="_blank"><i
                  style="padding: 7px 0px 7px 7px; margin:5px" class="fa fa-twitter fa-2x"></i>
              </a>
            </div>
            <div class="redes-footer">
              <a  *ngFor="let seccion of secciones" [routerLink] [fragment]="seccion" [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{exact: true}">
              {{seccion}}
            </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center ocultar-desktop">
          <div>
            <br>
            <br>
            <img src="assets/imagenes/Logo.png" alt="" style="height: 180px ">
            <div class="display:inline-block redes-footer">
              <a href="https://wa.me/51984225336?text=Hola Ingenio Perú , estoy interesado en Soluciones Tecnológicas para mi empresa." target="_blank" title="Whatsapp"><i style="padding: 7px ; margin:5px"
                  class="fa fa-whatsapp fa-2x"></i> </a>
              <a href="https://www.facebook.com/Ingenio-Per%C3%BA-105796234464156/" target="_blank" title="Facebook"><i
                  style="padding: 7px ; margin:5px" class="fa fa-facebook-square fa-2x"></i> </a>
              <a href="https://www.instagram.com/ingenio1308/?hl=es-la" title="Instagram" target="_blank"><i
                  style="padding: 7px ; margin:5px" class="fa fa-instagram fa-2x"></i>
              </a>
              <a href="https://twitter.com/Ingenio21875964" title="Twitter" target="_blank"><i
                  style="padding: 7px 0px 7px 7px; margin:5px" class="fa fa-twitter fa-2x"></i>
              </a>
            </div>
            <div class="redes-footer">
              <a  *ngFor="let seccion of secciones" [routerLink] [fragment]="seccion" [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{exact: true}">
              {{seccion}}
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="align-content: center;text-align:center;margin:auto;width: 100%" class="text-center">
          <hr>
          <span>Lima-Perú</span><br>
            <span>Copyright &copy; 2020. Todo los derechos reservados.</span>
            <span class="ocultar-desktop">
              <br>
              <br>
            </span>
        </div>
      </div>
    </div>
  </section>



  <div id="backtotop"><a (click)="subir()"></a></div>
</div>
