.header-oferta {
    padding: 0.3rem 1.5rem !important;
}

.table td, .table th {
    padding: 0.35rem 0.35rem !important;
}

.table th{
    text-align: center;
}

.table tr td i {
    text-align: center;
    cursor: pointer;
}
